.jumbotron {
    max-width: 750px;
    margin: 60px auto;

}

.inline {
    display: inline-block;
}

h1 {
    text-align: center;
    font-size: 40px;
}

#alert-templates {
    visibility: hidden;
}

#pomodoro-starter {
    margin-top: 15px;
}

.progress-bar-text {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.adjuster {
    max-width: 110px;
}

#pomodoro-settings-block h2 {
    margin-top: 0;
}

#timer-block {
    visibility: hidden;
}

.progress, .progress-bar {
    height: 30px;
}

.row {
    margin: auto 0;
}

.col-md-10, .col-sm-4, .col-xs-12, .col-sm-6, .col-xs-7, .col-xs-5, .col-xs-3, .col-xs-3, .col-xs-9, .col-sm-10 {
    padding-left: 0;
    padding-right: 0;
}

.col-xs-5, .col-xs-10, .col-xs-2 {
    padding-left: 0;
}