.jumbotron {
    max-width: 800px;
    margin: 60px auto;

}

#timer-block {
    text-align: center;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}


#alert-templates {
    visibility: hidden;
}
